body {
  margin: 0;
  font-family: Arial;
  background: #0b0f1a;
  color: white;
  text-align: center;
}

.top {
  padding: 10px;
  background: #111a2e;
  color: #4da3ff;
}

.box {
  padding: 20px;
  font-size: 18px;
}

input {
  width: 70%;
  padding: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  background: #4da3ff;
  border: none;
  color: white;
  border-radius: 8px;
}

#log {
  font-size: 12px;
  opacity: 0.8;
}